<div class="container-fullwidth">
    <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'lab-4:index' %}">Satraul</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'lab-4:index' %}#form"> Form </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'lab-4:result_table' %}"> Messages </a> </li>
            </ul>
        </div>
    </nav>
</div>
