{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1> {{ movie.title}} ({{ movie.year }})</h1>
    <h2> Details </h2>
    <div class="col-md-1">
    {% for i in movie %}
        <p>{{ i.capitalize }}</p>
    {% endfor %}
    </div>

    <div class="col-md-11">
    {% for i in movie.values %}
        <p>{{ i }}</p>
    {% endfor %}
    </div>
</div>

<div class="row">
    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}