{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center; padding-top:5rem">This is my complete biodata.</h1>
<br>
<table align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
