{% load staticfiles %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Lab 4 by {{author}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_4.css' %}" />
</head>

<title>
    {% block title %} Lab 4 by {{author}}{% endblock %}
</title>

<body style="background-color: #E8F2F2">
    {% include "lab_4/partials/header.html" %}
    <div class="container">

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                {% block content %} {% endblock %}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

    {% block footer %}
    {% include "lab_4/partials/footer.html" %}
    {% endblock %}
</body>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
