body {
}

.navbar {
    margin-bottom: 2rem;
}

footer {
    text-align: center;
}

.circular-image {
    width: 175px;
    height: 175px;
    border-radius:  50%;
}

/*Textarea not resizeable*/
textarea {
    resize:none
}
