{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 50rem;
        height: 20rem;
        top: 50%;
        left: 50%;
        margin-left: -25rem; /* margin is -0.5 * dimension */
        margin-top: -10rem;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">
        <h1>Hello, this is {{ name }}.</h1>
        <br>
        <h2>{{ content }}</h2></p>
</div>
{% endblock %}
